ADS.LAPEM.Services/Web References/wsSIADportal1/wsSIADportal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.3.86:8002/wsSIAD/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.3.86:8002/wsSIAD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.3.86:8002/wsSIAD/">
      <s:element name="ConsultaAvisos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Envio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaAvisosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaAvisosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="getEnvios">
        <s:complexType />
      </s:element>
      <s:element name="getEnviosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEnviosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCveLapem">
        <s:complexType />
      </s:element>
      <s:element name="getCveLapemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCveLapemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getComercializadores">
        <s:complexType />
      </s:element>
      <s:element name="getComercializadoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getComercializadoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFamilias">
        <s:complexType />
      </s:element>
      <s:element name="getFamiliasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFamiliasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUnidades">
        <s:complexType />
      </s:element>
      <s:element name="getUnidadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUnidadesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDsAvisos">
        <s:complexType />
      </s:element>
      <s:element name="getDsAvisosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDsAvisosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDsPenalizacion">
        <s:complexType />
      </s:element>
      <s:element name="getDsPenalizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDsPenalizacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDsSeries">
        <s:complexType />
      </s:element>
      <s:element name="getDsSeriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDsSeriesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaSolicitudAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sol_Avisos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="SolSeries">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="_SolicitaAP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaSolicitudAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardaSolicitudAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaUnAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sol_Avisos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="SolSeries">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="_SolicitaAP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaUnAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardaUnAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaSolicitudAPTransformador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sol_Avisos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="SolSeries">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="_SolicitaAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SolPenalizacion">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaSolicitudAPTransformadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardaSolicitudAPTransformadorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaUnAPTransformador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sol_Avisos">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="SolSeries">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="_SolicitaAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SolPenalizacion">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardaUnAPTransformadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardaUnAPTransformadorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaAvisosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaAvisos" />
  </wsdl:message>
  <wsdl:message name="ConsultaAvisosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaAvisosResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaAvisosAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getEnviosSoapIn">
    <wsdl:part name="parameters" element="tns:getEnvios" />
  </wsdl:message>
  <wsdl:message name="getEnviosSoapOut">
    <wsdl:part name="parameters" element="tns:getEnviosResponse" />
  </wsdl:message>
  <wsdl:message name="getEnviosAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getCveLapemSoapIn">
    <wsdl:part name="parameters" element="tns:getCveLapem" />
  </wsdl:message>
  <wsdl:message name="getCveLapemSoapOut">
    <wsdl:part name="parameters" element="tns:getCveLapemResponse" />
  </wsdl:message>
  <wsdl:message name="getCveLapemAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getComercializadoresSoapIn">
    <wsdl:part name="parameters" element="tns:getComercializadores" />
  </wsdl:message>
  <wsdl:message name="getComercializadoresSoapOut">
    <wsdl:part name="parameters" element="tns:getComercializadoresResponse" />
  </wsdl:message>
  <wsdl:message name="getComercializadoresAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getFamiliasSoapIn">
    <wsdl:part name="parameters" element="tns:getFamilias" />
  </wsdl:message>
  <wsdl:message name="getFamiliasSoapOut">
    <wsdl:part name="parameters" element="tns:getFamiliasResponse" />
  </wsdl:message>
  <wsdl:message name="getFamiliasAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getUnidadesSoapIn">
    <wsdl:part name="parameters" element="tns:getUnidades" />
  </wsdl:message>
  <wsdl:message name="getUnidadesSoapOut">
    <wsdl:part name="parameters" element="tns:getUnidadesResponse" />
  </wsdl:message>
  <wsdl:message name="getUnidadesAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getDsAvisosSoapIn">
    <wsdl:part name="parameters" element="tns:getDsAvisos" />
  </wsdl:message>
  <wsdl:message name="getDsAvisosSoapOut">
    <wsdl:part name="parameters" element="tns:getDsAvisosResponse" />
  </wsdl:message>
  <wsdl:message name="getDsPenalizacionSoapIn">
    <wsdl:part name="parameters" element="tns:getDsPenalizacion" />
  </wsdl:message>
  <wsdl:message name="getDsPenalizacionSoapOut">
    <wsdl:part name="parameters" element="tns:getDsPenalizacionResponse" />
  </wsdl:message>
  <wsdl:message name="getDsSeriesSoapIn">
    <wsdl:part name="parameters" element="tns:getDsSeries" />
  </wsdl:message>
  <wsdl:message name="getDsSeriesSoapOut">
    <wsdl:part name="parameters" element="tns:getDsSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="GuardaSolicitudAPSoapIn">
    <wsdl:part name="parameters" element="tns:GuardaSolicitudAP" />
  </wsdl:message>
  <wsdl:message name="GuardaSolicitudAPSoapOut">
    <wsdl:part name="parameters" element="tns:GuardaSolicitudAPResponse" />
  </wsdl:message>
  <wsdl:message name="GuardaSolicitudAPAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GuardaUnAPSoapIn">
    <wsdl:part name="parameters" element="tns:GuardaUnAP" />
  </wsdl:message>
  <wsdl:message name="GuardaUnAPSoapOut">
    <wsdl:part name="parameters" element="tns:GuardaUnAPResponse" />
  </wsdl:message>
  <wsdl:message name="GuardaUnAPAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GuardaSolicitudAPTransformadorSoapIn">
    <wsdl:part name="parameters" element="tns:GuardaSolicitudAPTransformador" />
  </wsdl:message>
  <wsdl:message name="GuardaSolicitudAPTransformadorSoapOut">
    <wsdl:part name="parameters" element="tns:GuardaSolicitudAPTransformadorResponse" />
  </wsdl:message>
  <wsdl:message name="GuardaSolicitudAPTransformadorAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GuardaUnAPTransformadorSoapIn">
    <wsdl:part name="parameters" element="tns:GuardaUnAPTransformador" />
  </wsdl:message>
  <wsdl:message name="GuardaUnAPTransformadorSoapOut">
    <wsdl:part name="parameters" element="tns:GuardaUnAPTransformadorResponse" />
  </wsdl:message>
  <wsdl:message name="GuardaUnAPTransformadorAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="portalSoap">
    <wsdl:operation name="ConsultaAvisos">
      <wsdl:input message="tns:ConsultaAvisosSoapIn" />
      <wsdl:output message="tns:ConsultaAvisosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEnvios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve el dataset que contiene toda la información de lo que cada usuario ha enviado al LAPEM</wsdl:documentation>
      <wsdl:input message="tns:getEnviosSoapIn" />
      <wsdl:output message="tns:getEnviosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCveLapem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el Identificador del usuario que está conectado</wsdl:documentation>
      <wsdl:input message="tns:getCveLapemSoapIn" />
      <wsdl:output message="tns:getCveLapemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getComercializadores">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene un DataSet con la lista de comercializadores del usuario conectado</wsdl:documentation>
      <wsdl:input message="tns:getComercializadoresSoapIn" />
      <wsdl:output message="tns:getComercializadoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFamilias">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el catálogo de familias válidas para registrar un aviso de prueba</wsdl:documentation>
      <wsdl:input message="tns:getFamiliasSoapIn" />
      <wsdl:output message="tns:getFamiliasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUnidades">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el catálogo de unidades para el registro de un aviso de pruaba</wsdl:documentation>
      <wsdl:input message="tns:getUnidadesSoapIn" />
      <wsdl:output message="tns:getUnidadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDsAvisos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la estructura del Dataset de un aviso de prueba</wsdl:documentation>
      <wsdl:input message="tns:getDsAvisosSoapIn" />
      <wsdl:output message="tns:getDsAvisosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDsPenalizacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el dataset que se requiere para enviar la información de penalizaciones</wsdl:documentation>
      <wsdl:input message="tns:getDsPenalizacionSoapIn" />
      <wsdl:output message="tns:getDsPenalizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDsSeries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el dataset que se requiere para el envío de los números de serie para productos que lo requieran</wsdl:documentation>
      <wsdl:input message="tns:getDsSeriesSoapIn" />
      <wsdl:output message="tns:getDsSeriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardaSolicitudAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda un conjunto de avisos de prueba de SID</wsdl:documentation>
      <wsdl:input message="tns:GuardaSolicitudAPSoapIn" />
      <wsdl:output message="tns:GuardaSolicitudAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardaUnAP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda un aviso de prueba de SID</wsdl:documentation>
      <wsdl:input message="tns:GuardaUnAPSoapIn" />
      <wsdl:output message="tns:GuardaUnAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardaSolicitudAPTransformador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda un conjunto de avisos de prueba de SID, si el producto es Transformador</wsdl:documentation>
      <wsdl:input message="tns:GuardaSolicitudAPTransformadorSoapIn" />
      <wsdl:output message="tns:GuardaSolicitudAPTransformadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardaUnAPTransformador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Guarda un aviso de prueba de SID, si el producto es Transformador</wsdl:documentation>
      <wsdl:input message="tns:GuardaUnAPTransformadorSoapIn" />
      <wsdl:output message="tns:GuardaUnAPTransformadorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="portalSoap" type="tns:portalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaAvisos">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/ConsultaAvisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConsultaAvisosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnvios">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getEnvios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getEnviosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCveLapem">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getCveLapem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getCveLapemAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComercializadores">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getComercializadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getComercializadoresAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFamilias">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getFamilias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getFamiliasAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnidades">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getUnidadesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDsAvisos">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getDsAvisos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDsPenalizacion">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getDsPenalizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDsSeries">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/getDsSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaSolicitudAP">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaSolicitudAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GuardaSolicitudAPAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaUnAP">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaUnAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GuardaUnAPAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaSolicitudAPTransformador">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaSolicitudAPTransformador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GuardaSolicitudAPTransformadorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaUnAPTransformador">
      <soap:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaUnAPTransformador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GuardaUnAPTransformadorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="portalSoap12" type="tns:portalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaAvisos">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/ConsultaAvisos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConsultaAvisosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnvios">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getEnvios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getEnviosAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCveLapem">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getCveLapem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getCveLapemAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComercializadores">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getComercializadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getComercializadoresAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFamilias">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getFamilias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getFamiliasAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnidades">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getUnidades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getUnidadesAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDsAvisos">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getDsAvisos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDsPenalizacion">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getDsPenalizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDsSeries">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/getDsSeries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaSolicitudAP">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaSolicitudAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GuardaSolicitudAPAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaUnAP">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaUnAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GuardaUnAPAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaSolicitudAPTransformador">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaSolicitudAPTransformador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GuardaSolicitudAPTransformadorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardaUnAPTransformador">
      <soap12:operation soapAction="http://192.168.3.86:8002/wsSIAD/GuardaUnAPTransformador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GuardaUnAPTransformadorAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="portal">
    <wsdl:port name="portalSoap" binding="tns:portalSoap">
      <soap:address location="http://192.168.3.86:8001/wsSIAD/portal.asmx" />
    </wsdl:port>
    <wsdl:port name="portalSoap12" binding="tns:portalSoap12">
      <soap12:address location="http://192.168.3.86:8001/wsSIAD/portal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>